*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Zen Dots', cursive;
    background-color: #DFDFDF;
}

.back {
    background: no-repeat url(../assets/background.png);
    position: absolute;
    top: 54%;
    left: -80px;
    height: 380px;
    width: 380px;
    opacity: 0.2;
    z-index: -5;
}