.main {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

h2 {
    color: #4E9BC6;
}

.info p {
    color: #2C2D30;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 500px;
    border: 1px solid #2C2D30;
    padding: 40px;
    background-color: #E2E9ED;
    border-radius: 20px;
}

.form {
    position: absolute;
}

p.input-container {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

label {
    color: #2C2D30;
    position: absolute;
    cursor: text;
    transform: translateY(-25px);
    transition: transform 0.3s ease;
    left: 0;
    bottom: -15px;
}

#filiere{
    border-bottom: 2px solid #2C2D30;
}

#filiere label{
    bottom: 0;
    position: relative;
}

input {
    width: 250px;
    height: 40px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    border-bottom: 2px solid #2C2D30;
    background-color: transparent;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #4E9BC6;
}

.input-container {
    margin-top: 20px;
}

.animation label {
    transform: translateY(-55px);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn {
    width: 200px;
    background: #4E9BC6;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.animation-color label {
    color: #4E9BC6;
}

.logo {
    margin-left: 15%;
    margin-top: 50px;
    height: 150px;
    width: 150px;
}

.validation {
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
}

.validation:hover {
    transform: scale(1.1) translateY(5px);
}

.btnInfo {
    height: 24px;
    margin-top: 58px;
    margin-left: 10px;
    cursor: pointer;
    color: #2C2D30;
}

.btnClose {
    cursor: pointer;
    color: #2C2D30;
}

.info {
    opacity: 0;
    transform: translateX(1500px);
}

.presentation {
    position: absolute;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    background-color: #E2E9ED;
    transform: translateX(0);
    opacity: 1;
}

.inscription a {
    color: #4E9BC6;
}

.inscription a:hover {
    text-decoration: underline;
}

.inscription {
    color: #2C2D30;
    margin-top: 20px;
}

#test_message{
    color: #000000;
    font-weight: 800;
    margin-top: -20px;
    margin-bottom: 20px;
}



@media screen and (min-width:800px) {
    .main {
        margin-top: 200px;
    }

    .container {
        width: 800px;
        flex-direction: row;
    }

    .info {
        transform: translateX(0);
        opacity: 1;
        margin-top: 70px;
        margin-left: 50px;
    }

    .presentation {
        position: relative;
    }

    .btnInfo {
        opacity: 0;
    }

    .btnClose {
        opacity: 0;
    }

    .form {
        position: relative;
    }
}