#game {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row {
    display: flex;
}

.color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

#red {
    background-color: red;
}

#red:hover {
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}


#green {
    background-color: green;
}

#green:hover {
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}

#blue {
    background-color: blue;
}

#blue:hover {
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}

#yellow {
    background-color: yellow;
}

#yellow:hover {
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}

.highlight {
    border: 10px solid white;
}

#start {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;

}

#start:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
}