*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --xp: 50%;
}

body {
    background-color: #2C2D30;
    font-family: 'Mina', sans-serif;
    color: #E2E9ED;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #E2E9ED;
    border-radius: 20px;
}


.mainProfil {
    display: flex;
    align-items: center;
    margin: 5%;
}

.rankProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
    margin-left: 60%;
}

.rankLogoProfil {
    width: 500px;
    height: 500px;
}

.progress-bar {
    position: relative;
    height: 10px;
    width: 200px;
    background: #E2E9ED;
    border-radius: 25px;
}

.progress-fill {
    position: absolute;
    height: 10px;
    animation: progress-forward 3s;
    background: #4E9BC6;
    border-radius: 15px;
}

.scroll{
    height: 100px;
}

.stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: -75%;
}

table {
    background-color: #E2E9ED;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 5%;
    height: 350px;
    color: #2C2D30;
    border-radius: 20px;
}

table tr {
    padding: 10px;
}

.thread {
    border: 1px solid #2C2D30;
}

table th,
table td {
    padding: 20px;
    text-align: center;
    border-left: 1px solid #2C2D30;
}

tbody {
    align-items: center;
    height: 30px;
   flex-direction: row;
}

table th {
    font-size: 20px;
    letter-spacing: .1em;
}


@media screen and (max-width: 1000px) {
    .mainProfil {
        flex-direction: column;
    }

    .mainProfil :nth-child(1) {
        order: 2;
    }

    .mainProfil :nth-child(2) {
        order: 1;
    }

    .mainProfil :nth-child(3) {
        order: 3;
    }

    .rank {
        margin-top: 5px;
    }
}





@keyframes progress-forward {
    0% {
        width: 0%;
    }

    100% {
        width: var(--xp);
    }
}

;