*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Zen Dots', cursive;
    background-color: #DFDFDF;
}

body {
    overflow: hidden;
}

main {
    height: 100vh;
}

.title_classement {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    padding: 15px;
    width: 580px;
    text-align: center;
    border-radius: 15px 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-bg {
    background: white;
    width: 630px;
    height: 300px;
}

.scroll-object {
    width: 100%;
    border-radius: 0vw;
}

table{
    border: 1px solid #F68757;
}

td {
    padding: 20px 0;
    text-align: center;
    width: 150px;
}

th {
    padding: 10px 15px;
}

.scroll-object th,
.scroll-object td {
    width: 150px;
    border: 1px solid #E0E0E0;
}

.scroll-object th {
    background-color: #F68757;
}

.scroll-object td {
    background-color: #e9e8e8;
}

.scroll-object thead {
    display: block;
}

.scroll-object tbody {
    display: block;
    height: 250px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}