
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 2rem;
    background-color: white
  }
  
  #grid {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    gap: 1rem;
    margin: 3rem auto;
  }
  
  .case {
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  
  p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  p:first-of-type {
    color: rgb(26, 41, 176);
  }

  
/*
#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#fond {
  background-image: url(../img/grille.jpg);
  border-radius: 30px;
  width: 740px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  font-family: 'Game';
  background-color: rgb(38, 38, 38);
  color: rgb(224, 233, 255);
}

.square {
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  font-size: 100px;
  cursor: pointer;
}

.square:hover {
  background-color: #ddd;
}

#status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#reset {
  font-size: 20px;
  padding: 10px 20px;
}

#reset:hover {
  background-color: #c00;
}

.btnPlay {
  padding: 10px;
  margin-top: 150px;
  width: 200px;
  border-radius: 15px;
  font-family: 'Game-bold';
  font-size: 1rem;
  background-color: rgb(232, 107, 30);
  color: rgb(224, 233, 255);
  border: hidden;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btnPlay:hover {
  transform: scaleY(1.2);
  width: 250px;
}
/*