*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Zen Dots', cursive;
    background-color: #DFDFDF;
}

body {
    overflow: hidden;
}

.title_classement {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    padding: 15px;
    width: 580px;
    text-align: center;
    border-radius: 15px 50px;
}

.scroll-bg {
    background: white;
    margin: 20%;
}

.scroll-div {
    width: 780px;
    height: 500px;
    overflow-y: scroll;
    border-radius: 0%;
}

.scroll-object {
    width: 100%;
    border-radius: 0vw;
}

table,
td {
    border: 1px solid #F68757;
    width: 50%;
}

td {
    padding: 20px 0;
    text-align: center;
    width: 150px;
}

thead {
    background-color: #F68757;
    width: 758px;
}

th {
    padding: 10px 15px;
}